*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    font-family: poppins;
}

button{
    background-color: rebeccapurple;
    border:none;
    color:white;
    position:fixed;
    top:20px;
    right:20px;
    padding:1rem;
}


button.active{
    transform:translateX(-100px);
}

nav{
    background-color: purple;
    position:fixed;
    top:0px;
    right:0px;
    height:100vh;
    padding:2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

nav.active{
    transform: translateX(0);
}


nav ul{
    padding:0rem;
    list-style-type: none;
    margin:0;
    
}

nav ul li{
    padding:2rem 0;
}

nav a{
    color:white;
    text-decoration: none;
}

